*{
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    border: 5px solid #6DACD5;
    padding: 20px;
    max-width: 300px;
}

.item {
    font-size: 20px;
    background: linear-gradient(to top, #DFDFDF, #F6F6F6);
    border: 1px solid #949494;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}

p {
    box-sizing: border-box;
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
    padding-right: 10px;
    font-size: 25px;
    height: 45px;
    line-height: 45px;
}

.first,
.second {
    line-height: 45px;
}

.first {
    color: #aaa;
}

.input {
    grid-column: 1/-1;
    padding: 0;
    background: #fff;
}

.equal {
    grid-column: 5;
    grid-row: 4/6;
}

.zero {
    grid-column: 1/3;
}