* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

.content {
    background-color: aqua;
}

.list {
    background-color: bisque;
    width: 200px;
    height: 86px;
    box-sizing: border-box;
    float: left;
}

.list ul {
    margin-left: 26px;
    padding-top: 19px;
}

.list li {
    list-style-type: disc;
}

.maintext {
    display: flex;
    background-color: darkgray;
}

.footer {
    height: 70px;
    width: 100%;
    margin: 0;
    background-color: limegreen;
    position: absolute;
    bottom: 0;
}